.container {
  max-width: 1444px !important;
  margin: 0 auto !important;
}

li {
  list-style: none;
}

a {
  text-decoration: none !important;
}
.ant-layout {
  background-color: white;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
