@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,400&display=swap");
@import "~bootstrap/scss/bootstrap";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 200;
}
