$text-primary: #ee655f;
$text-secondary: #555;
$text-gray: #999;

$theme-primary: white;
$theme-primary: rgb(0, 0, 0);

$text-title: #222222;

$border-primary: #e6e6e6;

$primary-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
  rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
