@import "../../styles/variables/colors";
.app-header.ant-layout-header {
  background: white;
  width: 100%;
}

.app-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 300;
  font-size: 1.2rem;

  .logo-link {
    text-decoration: none;
    h2 {
      color: $text-secondary;
      font-weight: bold;
      span {
        color: $text-primary;
      }
    }
  }
}

.lists {
  margin: 0;
  display: flex;
  gap: 2.5rem;

  @media screen and (max-width: 900px) {
    display: none;
  }

  a {
    color: $text-secondary;
    font-weight: 400;
    text-decoration: none;
    &:hover {
      color: $text-primary;
    }
  }

  .active {
    color: $text-primary;
    font-weight: bold;
  }

  .cart-trolley {
    position: relative;
  }
  .cart-total-items {
    position: absolute;
    transform: translate(15px, -55px);
    color: white;
    font-size: 13px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media screen and (max-width: 900px) {
    display: inline-block;
    z-index: 9999;

    .mobile-nav-icon {
      font-size: 2.5rem;
    }
  }
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 1rem;
  width: 50%;
  height: 100vh;
  display: flex;
  justify-content: flex-end;
  transition: all 0.5s ease-in-out;
  transform: translateX(100%);
  align-items: flex-end;
  flex-direction: column;
  background-color: red;
  .close-outline {
    position: absolute;
    top: 10px;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
    li {
      cursor: pointer;
      transition: all 0.5s;

      a {
        text-decoration: none;
        color: white;
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
      }
    }
  }
}
.active-sidebar {
  transform: translateX(0);
  transition: all 0.5s ease-in-out;
}
