.app-header.ant-layout-header {
  background-color: #eef1ff;
  padding: 0 10px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  font-weight: 300;
  font-size: 1.2rem;

  img {
    width: 100px;
    height: auto;
  }
}

.lists {
  margin: 0;
  display: flex;
  gap: 2.5rem;

  @media screen and (max-width: 800px) {
    display: none;
  }

  a {
    color: black;
    font-weight: 400;
    &:hover {
      color: blueviolet;
    }
  }

  .active {
    color: rgb(104, 9, 177);
    font-weight: bold;
  }

  .login-link {
    background-color: #6454f4;
    border-radius: 5px;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    &:hover {
      color: rgb(255, 255, 255);
    }
  }

  .cart-trolley {
    position: relative;
  }
  .cart-total-items {
    position: absolute;
    transform: translate(15px, -55px);
    color: white;
    font-size: 13px;
    border-radius: 50%;
    background-color: rgb(0, 0, 0);
    width: 1.25rem;
    height: 1.25rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.mobile-navbar-btn {
  display: none;
  background-color: transparent;
  cursor: pointer;
  border: none;

  @media screen and (max-width: 800px) {
    display: inline-block;
    z-index: 9999;

    .mobile-nav-icon {
      font-size: 2.5rem;
    }
  }

  .mobile-nav-icon[name="close-outline"] {
    display: none;
  }

  .close-outline {
    display: none;
  }
}
