@import "../../styles/variables/colors";

.product-details-container {
  padding: 100px 0;
  .ant-row {
    justify-content: center;
  }
}
.product-info {
  background-color: transparent;

  .product-name {
    color: $text-secondary;
  }

  .product-ratings {
  }
}

.product-data-warranty {
  display: flex;
  justify-content: space-around;
  .product-warranty-data {
    display: flex;
    flex-direction: column;
    align-items: center;

    .warranty-icon {
      height: 45px;
      width: 45px;
      padding: 5px;
      border-radius: 50px;
      background-color: rgba($text-gray, 0.2);
    }
  }
}
