@import "../../styles/variables/colors";

.blog-page {
  position: relative;
  background-color: white;
}

.blog-content {
  .page-intro-header {
    background-image: url("../../assets/images/hero_3.jpg");
    background-position: bottom;
  }
}

.blog-list-container {
  padding: 55px 0;
  .blog-container {
    justify-content: center;
  }
  .blog-lists {
    justify-content: center;
    .blog-img {
      img {
        max-width: 80%;
        height: auto;
      }
    }
  }
}

.blog-body {
  padding: 20px 0;

  .blog-title {
    font-size: 30px;
  }
  .user-actions {
    display: flex;
    justify-content: flex-start;
    overflow: hidden;
    position: relative;
    span {
      font-size: 17px;
      font-weight: 200;
      color: $text-gray;
      .left-line {
        margin: 5px;
      }
    }
  }
  .blog-desc {
    color: $text-gray;
    font-weight: 400;
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
    margin-bottom: 20px;
  }

  .reading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 20px;

    &:hover {
      a,
      svg {
        color: $text-primary;
      }
    }

    a {
      color: $text-secondary;
      text-decoration: none;
      font-size: 16px;
      letter-spacing: 1px;
      font-weight: 500;
    }
  }
}

.right-aside {
  .product-content {
    .left-bar {
      .categories-lists {
        padding: 0;
      }
    }
    .right-bar {
    }
  }
}

.product-cards {
  .product-card {
    display: flex;
    align-items: center;
    .card-img {
      max-width: 20%;
      img {
        width: 100%;
        height: auto;
      }
    }

    .product-body {
      display: flex;
    }
  }
}
